<div class="page-container page-container--column">
  <div class="page-container__board">
    <div class="page-container__part">
      <div class="page-container__glass">
        <div data-radiant-player-view></div>
      </div>
    </div>

    <div class="page-container__part">
      <div class="page-container__glass">
        <div data-dire-player-view></div>
      </div>
    </div>
  </div>

  <div class="page-container__logger">
    <div class="page-container__glass">
      <div data-logger></div>
    </div>
  </div>
</div>
