.player-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.player-view__avatar-wrapper {
  flex: 1;
  position: relative;
}

.player-view__toolbar {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  z-index: 2;
  padding: 16px;
  border-radius: inherit;
}

.player-view__actions {
  display: flex;
}

.player-view__stats {
  flex: 1;
}

.player-view__spells {
  flex: 0 0 auto;
}
