<div class="player-view" ref="rootEl">
  <div class="player-view__avatar-wrapper">
    <div data-hero-avatar></div>
    <div data-player-name></div>
    <div data-active-player-label></div>
    <div data-winner-label></div>
    <div data-effects></div>
  </div>

  <div class="player-view__toolbar">
    <div class="bars">
      <div data-hp></div>
      <div data-mana></div>
    </div>

    <div class="flex">
      <div class="spells">
        <div data-spell="0"></div>
        <div data-spell="1"></div>
        <div data-spell="2"></div>
        <div data-spell="3"></div>
        <div data-attack-button></div>
      </div>

      <div class="flex--grow" data-hero-stats></div>
    </div>
  </div>
</div>
