<div class="hero-stats">
    <div class="hero-stats__hero-name">
        <span data-name></span>
    </div>

    <div class="hero-stats2">
        <div class="hero-stats__item">
            <img class="hero-stats__icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_strength.png">
            <span data-strength></span>
        </div>

        <div class="hero-stats__item">
            <img class="hero-stats__icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_agility.png">
            <span data-agility></span>
        </div>

        <div class="hero-stats__item">
            <img class="hero-stats__icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_intelligence.png">
            <span data-intelligence></span>
        </div>

        <div class="hero-stats__item">
            <img class="hero-stats__icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_damage.png">
            <span data-min-damage></span>
            <span class="hero-stats__dash">&mdash;</span>
            <span data-max-damage></span>
        </div>

        <div class="hero-stats__item">
            <img class="hero-stats__icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_armor.png">
            <span data-armor></span>
        </div>
    </div>
</div>
